<%- include('partials/header'); %>

<h1><%= name %></h1> 
<ul>
    <img src = "<%=imagePath%>" alt="" width = "500px">
    <% for (let i = 0; i < interests.length; i++) { %>
    <li><%= interests[i]%></li>
    <% } %>
</ul>

<%- include('partials/footer'); %>